<div class="h-screen flex flex-col bg-gray-50">
    <!-- Header -->
    <app-header class="fixed top-0 left-0 right-0 z-50" (toggleClick)="toggleSidebar()">
    </app-header>

    <!-- Main Content Area -->
    <div class="flex h-screen pt-16 mb-16">
        <!-- Drawer Sidebar -->
        <!-- [(visible)]="sidebarVisible" -->
        <app-sidebar 
        [visible]="sidebarVisible"
        (visibleChange)="sidebarVisible = $event"
        (selectionChanged)="onFilterChange($event)"></app-sidebar>

        <!-- Main Content -->
        <main class="flex-1 pb-12 overflow-hidden h-full">
            <app-article-list-page [selectedPaths]="selection"></app-article-list-page>
        </main>
    </div>

    <!-- Footer -->
    <app-footer class="fixed bottom-0 left-0 right-0 z-50 mt-16"></app-footer>
</div>